@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
/* *{
    margin: 0;
    padding: 0;
} */
body{
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gochi Hand';
    color:dimgray;
    font: size 130%;
    text-align: center;
}

.container{
    min-width: 250px;
    max-width: 500px;
    min-height: 500px;
    background-color: floralwhite;
    box-shadow: 4px 3px 7px 2px #565555;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    background-image:radial-gradient(#bfc0c1 7.2%,transparent 0);
    background-size: 25px 25px;
}
.header{
    margin-bottom: 1rem;
}
.header_title{
    padding: 0.2rem 1.2rem;
    background-color: lightcoral;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    transform: rotate(3deg);
    display:inline-block;
}

.form_label{
    display: block;
    margin-bottom: 0.5rem;
}
.form_input{
    box-sizing: border-box;
    background-color: transparent;
    padding:0.7rem;
    border:3px solid transparent;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border-bottom: dashed 3px #9fbad5;
    font-size: 1rem;
    color:rgba(105, 99, 116, 0.7);
    width:70%;
    margin-bottom: 20px;

}
.form_input:focus{
    outline: none;
    border:3px solid #9fbad5;
}

.button{
    padding:0;
    border: none;
    font-family: 'Gochi Hand',cursive;
    border-image: url();
    border-radius: 5px;
    box-shadow: 0 2px 0 rgb(112, 109, 109);
    background-color: rgba(86, 138, 186, 0.7);
    transition:all 0.3s cubic-bezier(0.175 0.885 0.32 1.275);
    transform:rotate(4deg)
}
.button span{
    background-color: #dcd3d3;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid rgb(112, 110, 110);
}
.button:active, .button:focus{
    padding-bottom: 0;
    outline: 0;
    transform: rotate(0deg);
}

.todo-list{
    text-align: left;
}
.todo-list li{
    padding: 0.5rem;
}
.todo-list:hover{
    text-decoration: line-through;
}

